*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    background: url("black.jpg");
    overflow: hidden;
    text-align: center;
}
.main{
    height: 370px;
    width: 350px;
    margin: auto;
    border-radius: 20px;
    opacity: 0;
    border: 0px solid rgb(188, 185, 185);
    box-shadow: 0px 0px  100px rgb(213, 212, 212);
}
.main:hover{
    opacity: 1;
}
h1{
    margin-top: 20px;
    font-size: 35px;
    color: whitesmoke;
}
.user{
    margin-top: 50px;
    color: white;
}
.user input , .pass input{
    width: 320px;
    border-radius: 20px;
    height: 40px;
    margin-left: -10px;
    background: transparent;
    color: white;
}
.user i, .pass i{
    margin-left: -30px;
}
.user input::placeholder, .pass input::placeholder{
   margin-left: 20px;
   color: white;
}
.pass{
    margin-top: 20px;
    color: white;
}
.remember{
    margin-top: 20px;
    display: flex;
    margin-left: 20px;
    color: white;
}
.remember a{
    margin-left: 90px;
    text-decoration: none;
    color:white;
}
.remember a:hover{
    text-decoration: underline;
}
.remember label{
    margin-left: -10px;
}
.remember label input{
   accent-color:  white;
}
.register{
    margin-top: 25px;
}
.register button{
    width: 280px;
    border-radius: 20px;
    height: 35px;
    box-shadow: 0px 0px 40px rgb(198, 191, 191);
    font-size: 20px;
    background-color: white;
    color: white;
    background: transparent;
}
.register button:hover{
    background-color: white;
    color: black;
}
.account{
    margin-top: 20px;
    color: white;
}
.account a{
    text-decoration: none;
    color: white;
}
.account a:hover{
    text-decoration: underline;
}